/CompleteRun/bipartite/bipartite_politics_01012007-01312007.txt
/CompleteRun/bipartite/bipartite_politics_01112010-02102010.txt
/CompleteRun/bipartite/bipartite_politics_01122009-02112009.txt
/CompleteRun/bipartite/bipartite_politics_01142008-02132008.txt
/CompleteRun/bipartite/bipartite_politics_01152007-02142007.txt
/CompleteRun/bipartite/bipartite_politics_01252010-02242010.txt
/CompleteRun/bipartite/bipartite_politics_01262009-02252009.txt
/CompleteRun/bipartite/bipartite_politics_01282008-02272008.txt
/CompleteRun/bipartite/bipartite_politics_01292007-02282007.txt
/CompleteRun/bipartite/bipartite_politics_02082010-03102010.txt
/CompleteRun/bipartite/bipartite_politics_02092009-03112009.txt
/CompleteRun/bipartite/bipartite_politics_02112008-03122008.txt
/CompleteRun/bipartite/bipartite_politics_02122007-03142007.txt
/CompleteRun/bipartite/bipartite_politics_02222010-03242010.txt
/CompleteRun/bipartite/bipartite_politics_02232009-03252009.txt
/CompleteRun/bipartite/bipartite_politics_02252008-03262008.txt
/CompleteRun/bipartite/bipartite_politics_02262007-03282007.txt
/CompleteRun/bipartite/bipartite_politics_03082010-04072010.txt
/CompleteRun/bipartite/bipartite_politics_03092009-04082009.txt
/CompleteRun/bipartite/bipartite_politics_03102008-04092008.txt
/CompleteRun/bipartite/bipartite_politics_03122007-04112007.txt
/CompleteRun/bipartite/bipartite_politics_03222010-04212010.txt
/CompleteRun/bipartite/bipartite_politics_03232009-04222009.txt
/CompleteRun/bipartite/bipartite_politics_03242008-04232008.txt
/CompleteRun/bipartite/bipartite_politics_03262007-04252007.txt
/CompleteRun/bipartite/bipartite_politics_04052010-05052010.txt
/CompleteRun/bipartite/bipartite_politics_04062009-05062009.txt
/CompleteRun/bipartite/bipartite_politics_04072008-05072008.txt
/CompleteRun/bipartite/bipartite_politics_04092007-05092007.txt
/CompleteRun/bipartite/bipartite_politics_04192010-05192010.txt
/CompleteRun/bipartite/bipartite_politics_04202009-05202009.txt
/CompleteRun/bipartite/bipartite_politics_04212008-05212008.txt
/CompleteRun/bipartite/bipartite_politics_04232007-05232007.txt
/CompleteRun/bipartite/bipartite_politics_05032010-06022010.txt
/CompleteRun/bipartite/bipartite_politics_05042009-06032009.txt
/CompleteRun/bipartite/bipartite_politics_05052008-06042008.txt
/CompleteRun/bipartite/bipartite_politics_05072007-06062007.txt
/CompleteRun/bipartite/bipartite_politics_05172010-06162010.txt
/CompleteRun/bipartite/bipartite_politics_05182009-06172009.txt
/CompleteRun/bipartite/bipartite_politics_05192008-06182008.txt
/CompleteRun/bipartite/bipartite_politics_05212007-06202007.txt
/CompleteRun/bipartite/bipartite_politics_05312010-06302010.txt
/CompleteRun/bipartite/bipartite_politics_06012009-07012009.txt
/CompleteRun/bipartite/bipartite_politics_06022008-07022008.txt
/CompleteRun/bipartite/bipartite_politics_06042007-07042007.txt
/CompleteRun/bipartite/bipartite_politics_06142010-07142010.txt
/CompleteRun/bipartite/bipartite_politics_06152009-07152009.txt
/CompleteRun/bipartite/bipartite_politics_06162008-07162008.txt
/CompleteRun/bipartite/bipartite_politics_06182007-07182007.txt
/CompleteRun/bipartite/bipartite_politics_06282010-07282010.txt
/CompleteRun/bipartite/bipartite_politics_06292009-07292009.txt
/CompleteRun/bipartite/bipartite_politics_06302008-07302008.txt
/CompleteRun/bipartite/bipartite_politics_07022007-08012007.txt
/CompleteRun/bipartite/bipartite_politics_07122010-08112010.txt
/CompleteRun/bipartite/bipartite_politics_07132009-08122009.txt
/CompleteRun/bipartite/bipartite_politics_07142008-08132008.txt
/CompleteRun/bipartite/bipartite_politics_07162007-08152007.txt
/CompleteRun/bipartite/bipartite_politics_07262010-08252010.txt
/CompleteRun/bipartite/bipartite_politics_07272009-08262009.txt
/CompleteRun/bipartite/bipartite_politics_07282008-08272008.txt
/CompleteRun/bipartite/bipartite_politics_07302007-08292007.txt
/CompleteRun/bipartite/bipartite_politics_08092010-09082010.txt
/CompleteRun/bipartite/bipartite_politics_08102009-09092009.txt
/CompleteRun/bipartite/bipartite_politics_08112008-09102008.txt
/CompleteRun/bipartite/bipartite_politics_08132007-09122007.txt
/CompleteRun/bipartite/bipartite_politics_08142006-09132006.txt
/CompleteRun/bipartite/bipartite_politics_08232010-09222010.txt
/CompleteRun/bipartite/bipartite_politics_08242009-09232009.txt
/CompleteRun/bipartite/bipartite_politics_08252008-09242008.txt
/CompleteRun/bipartite/bipartite_politics_08272007-09262007.txt
/CompleteRun/bipartite/bipartite_politics_08282006-09272006.txt
/CompleteRun/bipartite/bipartite_politics_09062010-10062010.txt
/CompleteRun/bipartite/bipartite_politics_09072009-10072009.txt
/CompleteRun/bipartite/bipartite_politics_09082008-10082008.txt
/CompleteRun/bipartite/bipartite_politics_09102007-10102007.txt
/CompleteRun/bipartite/bipartite_politics_09112006-10112006.txt
/CompleteRun/bipartite/bipartite_politics_09202010-10202010.txt
/CompleteRun/bipartite/bipartite_politics_09212009-10212009.txt
/CompleteRun/bipartite/bipartite_politics_09222008-10222008.txt
/CompleteRun/bipartite/bipartite_politics_09242007-10242007.txt
/CompleteRun/bipartite/bipartite_politics_09252006-10252006.txt
/CompleteRun/bipartite/bipartite_politics_10042010-11032010.txt
/CompleteRun/bipartite/bipartite_politics_10052009-11042009.txt
/CompleteRun/bipartite/bipartite_politics_10062008-11052008.txt
/CompleteRun/bipartite/bipartite_politics_10082007-11072007.txt
/CompleteRun/bipartite/bipartite_politics_10092006-11082006.txt
/CompleteRun/bipartite/bipartite_politics_10182010-11172010.txt
/CompleteRun/bipartite/bipartite_politics_10192009-11182009.txt
/CompleteRun/bipartite/bipartite_politics_10202008-11192008.txt
/CompleteRun/bipartite/bipartite_politics_10222007-11212007.txt
/CompleteRun/bipartite/bipartite_politics_10232006-11222006.txt
/CompleteRun/bipartite/bipartite_politics_11022009-12022009.txt
/CompleteRun/bipartite/bipartite_politics_11032008-12032008.txt
/CompleteRun/bipartite/bipartite_politics_11052007-12052007.txt
/CompleteRun/bipartite/bipartite_politics_11062006-12062006.txt
/CompleteRun/bipartite/bipartite_politics_11162009-12162009.txt
/CompleteRun/bipartite/bipartite_politics_11172008-12172008.txt
/CompleteRun/bipartite/bipartite_politics_11192007-12192007.txt
/CompleteRun/bipartite/bipartite_politics_11202006-12202006.txt
/CompleteRun/bipartite/bipartite_politics_11302009-12302009.txt
/CompleteRun/bipartite/bipartite_politics_12012008-12312008.txt
/CompleteRun/bipartite/bipartite_politics_12032007-01022008.txt
/CompleteRun/bipartite/bipartite_politics_12042006-01032007.txt
/CompleteRun/bipartite/bipartite_politics_12142009-01132010.txt
/CompleteRun/bipartite/bipartite_politics_12152008-01142009.txt
/CompleteRun/bipartite/bipartite_politics_12172007-01162008.txt
/CompleteRun/bipartite/bipartite_politics_12182006-01172007.txt
/CompleteRun/bipartite/bipartite_politics_12282009-01272010.txt
/CompleteRun/bipartite/bipartite_politics_12292008-01282009.txt
/CompleteRun/bipartite/bipartite_politics_12312007-01302008.txt
